body {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: #1E1B1C; /* Primary: Barbell Black */
  background-color: #ffffee; /* Background: Ivory Incline */
  margin: 0;
  padding: 0;
}

.header-image {
  position: relative;
  width: 100%;
  height: 50vh; /* Half the size of the body */
  overflow: hidden;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-image .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.header-image .site-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 15px;
}

.nav-button {
  text-decoration: none;
  color: #1E1B1C; /* Primary: Barbell Black */
  padding: 8px 16px;
  background-color: #ffffee; /* Background: Ivory Incline */
  border-radius: 4px;
}

.cart-icon {
  font-weight: bold;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffee; /* Background: Ivory Incline */
}

#cart-view {
  display: none;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

#cart-view ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form-active #cart-items,
.order-form-active button:not(#order-form button),
.order-form-active #clear-cart-btn {
  display: none;
}

.order-form-active h2 {
  display: block;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add some spacing between the form elements */
}

.order-form label {
  margin-bottom: 5px;
}

.order-form input,
.order-form textarea,
.order-form button {
  padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: #1E1B1C; /* Primary: Barbell Black */
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;
}

button, .subscribe-button {
  font-family: 'Impact', sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: #AE232D; /* Accent: Cardio Crimson */
  color: #ffffee; /* Background: Ivory Incline */
}

.social-icons img {
  width: 30px; /* Adjust size as needed */
  height: auto;
}

small, footer {
  font-family: 'Comfortaa', sans-serif;
  font-size: 11px;
  color: #519c4f; /* Secondary: Gains Green */
}